@media (max-width: 1024px){
    
    .main-wrapper{width: 100%; padding: 15px;}

}
@media (max-width: 991px) {
    .lft-breadcrumb{display: none;}
    .left-sidemenu.navbar-collapse{position:fixed; left: -320px; transition-timing-function: cubic-bezier(0.2, 0.45, 0.83, 0.5); -ms-transition: all 0.5s ease-out 0s;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: auto;
        top: 0;
        padding-bottom: 15px;
    }
    .left-sidemenu.navbar-collapse.show{left: 0;}
    .total-bx{margin-bottom: 15px;}
    .srch-bx{display: none;}
    .mobile-srch{display: block; width: 40px; height: 40px; background-color: var(--ss-white-bg); border-radius: 10px; padding:6px;}
    .mobile-srch i{font-size: 20px; line-height: 1; display: block;}
    .mobile-srch i:before{display: none;}
    .rgt-srch-notify{width: 100%;  justify-content: space-between;}
    .notify-bx a{width: 40px; height: 40px; padding: 6px;}
    .admin-info span{display: none;}
    .admin-info figure{width: 40px; height: 40px;}
    .hamburger-menu{display: block;}
    .rgt-srch-notify .dropdown{position: static; width: auto;}
    .location-outer .form-group{margin-bottom: 10px;}

    .general-table .divtable{display:block;}
	.general-table .divtable-heading{display:none;}
	.general-table .divtable-body{display:block;}
	.general-table .divtable-row{display:block; margin-bottom:0; border-bottom:1px solid #ddd; margin-bottom:20px;}
	.general-table .divtable-body .divtable-cell{position:relative;width:100%;padding:10px;padding-left:15px;height:auto;display:block;border:none;word-wrap:break-word;text-align: left;padding-top: 25px;margin-bottom: 10px;}
	.general-table .divtable-body .divtable-cell:before{position:absolute; left:0; top:0; width:100%; padding:0 15px; content:attr(data-title); font-weight:600; color:#1a1c27; text-align: left;}
    .general-table .divtable-body .divtable-cell p{color: #5A5A5A;}
    .location-outer{margin-bottom: 15px;}
    [data-theme=dark] .srch-bx {
        background-color: var(--ss-white-bg)
    }
    .theme-change a{width: 40px; height: 40px; background-color: var(--ss-white-bg); padding: 7px 7px;}
    [data-theme=dark]  .theme-change a{width: 40px; height: 40px; background-color: var(--ss-white-bg); padding: 7px 7px;}
    .rgt-srch-notify .dropdown{order: 1;}
    .notify-bx{order: 2;}
    .admin-info{order: 3;}
    .hamburger-menu{order: 5;}
    .theme-change{order: 4;}
    .left-sidemenu.navbar-collapse{box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.16); z-index: 12;}
    .location-srch{width: 100%;}
    .top-header-sec{position: fixed; left: 0; right: 0; bottom: 0; z-index: 10; padding: 15px; background-color: #e2e6e9;}
    [data-theme=dark] .top-header-sec{background: var(--ss-total-bg);}
    .total-chart-sec{padding: 0;}
    .main-wrapper{padding-bottom: 80px;}
}
