@media (min-width: 992px) and (max-width: 1200px){
    .hero-left-caption h1{font-size: 50px;}
    .hero-left-caption h2{font-size: 35px;}
    .about-outer{width: 90%; left: 5%; right: 5%;}
    .haader-sec ul.navbar-nav>li{margin: 0 10px;}
}
@media (max-width: 991px) {
    .hamburger-menu{display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .theme-change {
        margin-right: 40px;
    }
    .haader-sec .collapse:not(.show), .haader-sec .navbar-collapse{position: fixed; left: -100%; top: 0; width: 100%; height: 100%; background-color: #1f1f23; display: block; transition: all .25s ease; padding: 50px 20px; padding-top: 80px;}
    .haader-sec .navbar-collapse.collapse.show{left: 0; transition: all .25s ease;}
    .haader-sec .navbar-collapse .hamburger-menu{position: absolute; right: 15px; top: 30px;}
    .haader-sec  .navbar-nav{display: block;}

    .haader-sec ul li{padding: 5px 7px; margin-left: 0;}
    .haader-sec ul.navbar-nav>li{margin-left: 0; text-align: left; width: 100%;}
    .haader-sec ul.navbar-nav>li{margin-left: 0; padding: 10px; width: 100%; font-size: 18px;}
    .haader-sec ul.navbar-nav>li>a{color: #fff;}
    
    .hamburger-menu[aria-expanded=true] span{background-color: #fff;}

    .hero-banner-sec{padding: 20px 0;}
    .hero-banner-outer{flex-wrap: wrap;}
    .hero-left-caption{width: 100%; text-align: center;}
    .hero-rgt-pic{display: none;}
    .about-sec picture img{border-radius: 20px 20px 0 0;}
    .about-outer{
        position: static;
        transform: translateY(0);
        width: 100%;
        border-radius: 0 0 20px 20px;
        border:none;
        box-shadow: none;
        padding: 15px;
    }
    .services-sec, .about-sec{padding: 20px 0;}
}

@media (max-width: 767px) {
    
    
    .haader-sec{padding: 10px 0;}
    .about-outer{
        position: static;
        transform: translateY(0);
        width: 100%;
        border-radius: 0 0 20px 20px;
        border:1px solid #ddd;
        box-shadow: none;
        padding: 15px;
    }
    .about-outer h2{font-size: 24px; margin-top: 0;}
    .about-outer p{font-size: 16px; margin-bottom: 20px;}
    .hero-banner-sec{padding: 20px 0; text-align: center;}
    .hero-rgt-pic,
    .hero-left-caption{width: 100%;}
    .hero-rgt-pic{display: none;}
    .hero-left-caption h2{font-size: 24px;}
    .hero-left-caption h1{font-size: 30px;}

    .about-sec, .services-sec, .testimonial-sec, .partner-logo-sec, .faq-sec, .footer-sec{padding: 20px 0;}
    .about-sec picture img{border-radius: 20px 20px 0 0;}

    .services-sec h2{font-size: 24px;}
    .services-sec p{font-size: 14px; line-height: 24px; margin-bottom: 20px;}
    .testimonial-sec h2{font-size: 24px; margin:0 0 15px 0;}
    .testimonial-sec .owl-carousel.owl-drag .owl-item{padding: 15px 0;}
    .testimonial-sec .owl-carousel.owl-drag .owl-item.active{padding: 15px 0;}
    .testimonail-bx{border-radius: 20px; padding: 15px; text-align: center;}
    .client-outer picture{margin:10px auto;}
    .client-info{width: 100%; padding: 5px 0;}
    .testimonail-bx p{font-size: 20px; line-height: 30px;}
    .partner-logo-sec h2{font-size: 24px; margin:0 0 20px 0;}
    .partner-logo-sec{margin:0;}
    .partner-logo-sec ul{display: block; white-space: nowrap; overflow: auto;}
    .partner-logo-sec ul li {
        padding: 10px;
        display: inline-block;
        max-width: 160px;
    }
    .faq-sec h2{font-size: 24px; margin-bottom: 20px;}
    .faq-sec .accordion-button{font-size: 16px;}
    .faq-sec .accordion-button::after{width: 35px; height: 35px; background-size: 22px;}
    .address-bx{padding: 15px 0; border-bottom: 20px; border-left: none; border-bottom: 1px solid rgba(0, 0, 0, 0.30);}
    .footer-sec hr{display: none;}

    .footer-nav h3{position: relative;margin:0;padding: 15px;border-bottom: 1px solid #D4DEE2;font-size: 16px;font-weight: 500;}
    [data-theme=dark]  .footer-nav h3{border-color: #282c39;}
    [data-theme=dark] .address-bx{border-left: none; border-bottom: 1px solid #282c39;}
    [data-theme=dark]  .footer-nav h3:after{border-color: #fff;}
    .footer-nav h3:after{content: ""; position: absolute;right:15px;top: 15px;
        height: 10px;
        width: 10px;
        border-style: solid;
        border-color: #000;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
    }
    .footer-nav ul{display: none; margin-top: 10px; margin-left:15px;}
    .footer-nav.is-open h3:after{transform: rotate(224deg); -webkit-transform: rotate(224deg); -ms-transform: rotate(224deg);}
    .footer-nav.is-open ul{display: block;}
}
