:root {
     --ss-body-bg: #ffffff;
     --ss-black-color: #000000;
     --ss-white-color: #ffffff;
     --ss-yellow-color: #F8A829;
     --ss-paragraph: #474747;
     --ss-green-color: #00DEA3;
     --ss-client-logo-bg: #F5F5F5;
     --ss-placeholder: #898989;
     --ss-input-color: #333333;
     --ss-input-border: #DCDCDC;
     --ss-footer-bg: #F2F5F6;
     --ss-checkbox-border: #CBD5E0;
     --ss-table-color: #202020;
     --ss-header-bg: #ffffff;
     --ss-link-nav-hover: #FE5C5D;
     --ss-gradient: linear-gradient(to right, #1FB3FD 0%, #E957E7 20%, #FE5C5D 100%);
     --ss-accordion-bg: #ffffff;
     --ss-service-bg: #F8FDFF;
     --ss-service-bg1: #FCFFF8;
     --ss-service-bg2: #FEF8FF;
     --ss-service-bg3: #F6FCF6;
     --ss-about-bg: #ffffff;
     --ss-hamburger-color: #FE5C5D;
     --ss-font-common: "Lato", serif;
     --ss-heading-font: "Encode Sans Condensed", serif;
}
 :root{
     [data-theme=dark] {
         --ss-body-bg: #0d0d10;
         --ss-white-bg: #1b1b2a;
         --ss-text-white: #ffffff;
         --ss-paragraph: #ffffff;
         --ss-input-color: #2B2B40;
         --ss-table-dark-border: #333346;
         --ss-total-bg: #26263c;
         --ss-black-color: #dbe1e5;
         --ss-header-bg: #0d0d10;
         --ss-client-logo-bg: #15151a;
         --ss-footer-bg: #15151a;
         --ss-accordion-bg: #15151a;
         --ss-service-bg: #141614;
         --ss-service-bg1: #141614;
         --ss-service-bg2: #141614;
         --ss-service-bg3: #141614;
         --ss-hamburger-color: #FE5C5D;
         --ss-about-bg: #141614;
    }
}
 [data-theme=dark] .logo{
    filter: brightness(1) invert(1);
}
 html, body {
     height: 100%;
     padding: 0 !important;
}
 body {
     margin: 0;
     padding: 0;
     font-family: var(--ss-font-common);
     font-size: 15px;
     color: var(--ss-black-color);
     -webkit-font-smoothing: subpixel-antialiased;
     -webkit-text-stroke: 1px transparent;
     background-color: var(--ss-body-bg);
     letter-spacing: 0.5px;
}
 .page-wrap {
     min-height: 100%;
     margin-bottom: 0px;
}
 .page-wrap:after {
     content: "";
     display: block;
}
/*--------------General CSS---------*/
 img {
     border: 0 none;
     max-width: 100%;
     vertical-align: top;
     outline:none;
}
 a {
     outline: none;
     cursor: pointer;
     text-decoration: none;
     -ms-transition: all 0.5s ease-out 0s;
     -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
     color: var(--ss-heading-color);
}
 a:hover, a:focus {
     color: var(--ss-black-color);
     text-decoration: none;
}
 button, input[type="submit"] {
     -ms-transition: all 0.5s ease-out 0s;
     -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
}
 p {
     line-height: 20px;
     color: var(--ss-black-color);
     line-height: 24px;
}
 h1 {
     font-size: 70px;
     margin: 15px 0px;
     font-family: var(--ss-heading-font);
     font-weight: 600;
}
 h2 {
     font-size: 40px;
     margin: 15px 0px;
     font-family: var(--ss-heading-font);
     font-weight: 600;
}
 h3 {
     font-size: 24px;
     margin: 15px 0px;
     font-family: var(--ss-heading-font);
     font-weight: 600;
}
 h4 {
     font-size: 18px;
     margin: 15px 0px;
     font-family: var(--ss-heading-font);
     font-weight: 600;
}
 h5 {
     font-size: 14px;
     margin: 15px 0px;
     font-family: var(--ss-heading-font);
     font-weight: 600;
}
/*-----------------------main styles starts here-----------------------------------------------*/
 ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}
 label {
     font-size: 14px;
     color: var(--ss-paragraph);
     font-weight:400;
}
 input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
    border: 1px solid var(--ss-input-border);
     font-size: 15px;
     color: var(--ss-input-color);
     padding: 15px;
     width: 100%;
     -webkit-box-shadow: none;
     -webkit-appearance: none;
     font-weight: 400;
}
 input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
    border-color: var(--ss-heading-color);
     box-shadow: none;
     outline: none;
}
 .dark-select-control, .dark-form-control{
    border: 1px solid var(--ss-input-border);
     border-radius: 10px;
     line-height: 1;
     color: var(--ss-input-color);
     font-size: 15px;
     font-weight: 400;
     box-shadow: none;
     outline: 0;
     width: 100%;
     padding:12px 15px;
}
 .dark-form-control:focus{
    border-color: var(--ss-heading-color)
}
/*===================================== PLACE HOLDER CSSS START HERE ====================================*/
 input::-webkit-input-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input::-moz-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input::-ms-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input.textbox::-ms-input-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input.textbox::-ms-input-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input::-webkit-input-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input::-moz-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input::-ms-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input.textbox::-ms-input-placeholder {
     color:var(--ss-black-color);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 input.textbox::-ms-input-placeholder {
     color:var(--ss-placeholder);
     font-weight: 400;
     font-family: var(--ss-font-common);
}
 .cf:before, .cf:after {
     content: "";
     display: table 
}
 .cf:after {
     clear: both;
}
 .cf {
    /*zoom:1;
    */
}
/*===================================== PLACE HOLDER CSSS END HERE ====================================*/
 .circle-checkbox input[type="checkbox"] {
     display: none;
}
 .circle-checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--ss-heading-color);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: 400;
    font-size: 14px;
}
 .circle-checkbox input[type="checkbox"] + label:last-child {
     margin-bottom: 0;
}
 .circle-checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid var(--ss-checkbox-border);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 6px;
}
 .circle-checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-color:var(--ss-heading-color);
    border-right-color: var(--ss-heading-color);
    border-radius: 0;
}
 .dropdown-toggle::after{
    display: none;
}
 .container{
    width:100%;
     max-width:1600px;
}
 .main-black-btn {
    background-color: #000000;
     color: #fff;
     border-radius:10px;
     font-weight: 700;
     font-size: 18px;
     padding: 12px 20px;
     border: 1px solid #000000;
     line-height: 1;
     display: inline-block;
     vertical-align: top;
     cursor:pointer;
     letter-spacing: 0.5px;
}
 .main-black-btn:hover, .main-black-btn:focus {
     background-color: #333;
     color: #fff;
     border: 1px solid #333;
     outline:none;
}
 .lg-btn{
    font-size: 20px;
     padding: 18px 30px;
     text-align: center;
}
 .md-btn{
    font-size: 18px;
     padding: 15px 25px;
     text-align: center;
}
 .smd-btn{
    font-size: 16px;
     padding: 13px 20px;
     text-align: center;
}
 .sm-btn{
    font-size: 16px;
     padding: 12px 20px;
     text-align: center;
}
 .xs-btn{
    font-size: 14px;
     padding: 8px 20px;
     text-align: center;
}
/* TOGGLE STICKY HOME CSS START */
 .hamburger-menu {
     width: 25px;
     height: 20px;
     right: 0;
     top: 3px;
     border: none;
     outline: 0;
     box-shadow: none;
     background-color: initial;
     position: relative;
     display: inline-block;
     outline: 0 !important;
     box-shadow: none;
     border: none;
     border-radius:0;
     display: none;
}
 button.hamburger-menu:focus:not(:focus-visible){
     outline: 0 !important;
     box-shadow: none;
}
 .hamburger-menu span {
     opacity: 1;
     right: 0;
     display: block;
     width: 100%;
     height: 2px;
     border-radius: 10px;
     color: #000;
     background-color: var(--ss-hamburger-color);
     position: absolute;
     transform: rotate(0deg);
     transition: .4s ease-in-out;
}
 .hamburger-menu span:first-child {
    top: 0;
}
 .hamburger-menu span:nth-child(2) {
    top: 9px;
}
 .hamburger-menu span:nth-child(3) {
    top: 18px;
}
 .hamburger-menu[aria-expanded=true] span {
    background-color: var(--ss-black-color);
}
 .hamburger-menu[aria-expanded=true] span:first-child {
    transform: translateY(9px) rotate(135deg);
}
 .hamburger-menu[aria-expanded=true] span:nth-child(2) {
    opacity: 0;
     transform: translateX(60px);
}
 .hamburger-menu[aria-expanded=true] span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}
 .theme-change a{
    width: 51px;
     height: 51px;
     border-radius: 10px;
     display: block;
     padding: 12px;
}
 .light-ico svg{
    color: #e3b01d;
}
 .dark-ico svg{
    color:#eff3fd
}
 [data-theme=dark] .dark-ico{
    display: block;
}
 [data-theme=light] .dark-ico{
    display: none;
}
 [data-theme=dark] .light-ico{
    display: none;
}
 [data-theme=light] .light-ico{
    display: block;
}
 [data-theme=dark] .main-black-btn{
     background: var(--ss-gradient);
     -webkit-background: var(--ss-gradient);
     -moz-background: var(--ss-gradient);
     -ms-background: var(--ss-gradient);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-fill-color: transparent;
     border-color: #FE5C5D;
}
 [data-theme=dark] .services-sec .services-home-bx .sm-btn{
     color: var(--ss-body-bg);
}
 [data-theme=dark] .about-outer .main-black-btn i{
     filter: brightness(1) invert(1);
}
 [data-theme=dark] .address-bx p i{
     filter: brightness(1) invert(1);
}
 [data-theme=dark] .services-sec .owl-theme .owl-nav [class*=owl-]{
     filter: brightness(1) invert(1);
}
 [data-theme=dark] .address-bx{
    border-left-color: #47494e;
}
 [data-theme=dark] .footer-nav ul li a:after{
    background-color: #47494e;
}
 .logo{
    padding: 0;
     max-width: 160px;
}
 .haader-sec .navbar{
    padding: 0 ;
}
 .haader-sec{
    position: sticky;
     top: 0;
     width: 100%;
     z-index: 100;
     background-color: var(--ss-header-bg);
     padding: 15px 0;
}
 .haader-sec ul.navbar-nav>li{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    position: relative;
    font-weight: 700;
}
 .haader-sec ul>li>a:hover{
     color: var(--ss-link-nav-hover);
}
 .hero-banner-sec{
    width: 100%;
     padding: 50px 0;
}
 .hero-left-caption{
    width: 60%;
}
 .hero-left-caption h1{
    letter-spacing: 0;
     line-height: normal;
}
 .hero-left-caption h2{
    font-size: 60px;
     font-weight: 600;
}
 .text-gradiant{
     background: var(--ss-gradient);
     -webkit-background: var(--ss-gradient);
     -moz-background: var(--ss-gradient);
     -ms-background: var(--ss-gradient);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-fill-color: transparent;
}
 .hero-rgt-pic{
    width: 40%;
     padding-left: 30px;
}
 .hero-rgt-pic picture{
     display: block;
     width: 100%;
     border-radius: 50px;
}
 .hero-rgt-pic picture img{
     border-radius: 50px;
}
 .about-sec{
    width: 100%;
     padding: 50px 0;
}
 .about-sec picture{
     display: block;
     width: 100%;
     border-radius: 50px;
}
 .about-sec picture img{
     border-radius: 50px;
}
 .about-outer{
    width: 40%;
     border-radius: 50px;
     background-color: var(--ss-about-bg);
     padding: 30px 50px;
     position: absolute;
     right: 50px;
     top: 50%;
     transform: translateY(-50%);
     box-shadow: 0 0 0 10px rgb(0 0 0 / 40%);
}
 .about-outer h2{
    font-size: 40px;
     margin-bottom: 20px;
}
 .about-outer p{
    font-size: 20px;
     margin-bottom: 40px;
     color: var(--ss-paragraph);
     line-height: normal;
}
 .services-sec{
    width: 100%;
     padding: 50px 0;
}
 .services-sec h2{
    text-align: center;
     font-weight: 700;
}
 .services-sec p{
    font-size: 16px;
     line-height: 30px;
     color: var(--ss-paragraph);
     text-align: center;
     max-width: 1200px;
     margin: 0px auto;
     margin-bottom: 50px;
}
 .services-home-bx{
     padding: 30px 20px;
     width: 100%;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
}
 .services-home-bx picture{
     width: 50px;
     display: block;
     margin-bottom: 15px;
}
 .services-home-bx h3{
     font-size: 18px;
     font-weight: 900;
     margin:10px 0 15px 0;
     font-family: var(--ss-font-common);
}
 .services-home-bx p{
     font-size: 14px;
     line-height: 30px;
     margin-bottom: 15px;
     color: var(--ss-black-color) !important;
     text-align: left !important;
}
 .services-home-bx .sm-btn i{
     filter: brightness(1) invert(1);
     display: inline-block;
     vertical-align: middle;
}
 .services-sec .owl-item:nth-child(4n+1) .services-home-bx{
     border:1px solid #78CCED;
     background-color: var(--ss-service-bg);
}
 .services-sec .owl-item:nth-child(4n+1) .services-home-bx .sm-btn{
     background-color: #E0F3FF;
     text-transform: uppercase;
     font-size: 13px;
}
 .services-sec .owl-item:nth-child(4n+2) .services-home-bx{
     border:1px solid #D2EFAC;
     background-color: var(--ss-service-bg1);
}
 .services-sec .owl-item:nth-child(4n+2) .services-home-bx .sm-btn{
     background-color: #F2FDE5;
     text-transform: uppercase;
     font-size: 13px;
}
 .services-sec .owl-item:nth-child(4n+3) .services-home-bx{
     border:1px solid #EDC0F4;
     background-color: var(--ss-service-bg2);
}
 .services-sec .owl-item:nth-child(4n+3) .services-home-bx .sm-btn{
     background-color: #F9EBFB;
     text-transform: uppercase;
     font-size: 13px;
}
 .services-sec .owl-item:nth-child(4n+4) .services-home-bx{
     border:1px solid #CAECCA;
     background-color: #F6FCF6;
     background-color: var(--ss-service-bg3);
}
 .services-sec .owl-item:nth-child(4n+4) .services-home-bx .sm-btn{
     background-color: #E7F5E7;
     text-transform: uppercase;
     font-size: 13px;
}
 .services-home-bx .sm-btn{
     border-radius: 6px;
}
 .services-sec .owl-theme .owl-nav [class*=owl-]{
     background-color: transparent;
     width: 60px;
}
 .testimonial-sec{
     width: 100%;
     padding: 50px 0;
}
 .testimonial-sec h2{
     text-align: center;
     font-weight: 700;
     margin-bottom: 50px;
}
 .client-outer picture{
     display: block;
     width: 100px;
     border-radius: 100px;
}
 .client-outer picture img{
     border-radius: 100px;
}
 .client-info{
     width: calc(100% - 100px);
     padding: 0 15px 0 20px;
}
 .client-info h3{
     font-size: 22px;
     font-weight: 600;
     margin:0 0 5px 0;
}
 .client-info span{
     font-size: 16px;
     display: block;
     margin-bottom: 10px;
}
 .testimonail-bx{
     border:1px solid #D1D8DE;
     border-radius: 50px;
     padding: 50px;
     box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
}
 .testimonial-sec .owl-carousel.owl-drag .owl-item{
     padding: 30px;
     opacity: 0.4;
}
 .testimonial-sec .owl-carousel.owl-drag .owl-item.active{
     padding: 30px;
     opacity: 1;
}
 .testimonail-bx p{
     font-size: 26px;
     line-height: 45px;
     font-style: italic;
}
 .testimonial-sec .owl-theme .owl-dots .owl-dot.active span{
     width: 30px;
     background-color: var(--ss-black-color);
}
 .partner-logo-sec{
     width: 100%;
     padding: 30px 0;
     margin: 150px 0 50px 0;
     background-color: var(--ss-client-logo-bg);
}
 .partner-logo-sec h2{
     font-weight: 700;
     text-align: center;
     margin-top: -120px;
     margin-bottom: 100px;
}
 .partner-logo-sec ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 .partner-logo-sec ul li{
     padding: 20px 10px;
}
 .faq-sec{
    padding-bottom: 100px;
}
 .faq-sec h2{
    text-align: center;
     font-weight: 700;
     margin-bottom: 30px;
}
 .faq-sec .accordion{
    width: 100%;
     max-width: 1050px;
     margin:10px auto;
}
 .faq-sec .accordion-item{
    border-radius: 20px;
     border:none;
     box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
     margin:15px 0;
     background-color: var(--ss-accordion-bg);
}
 .faq-sec .accordion-header{
    font-size: 22px;
     font-family: var(--ss-font-common);
     font-weight: 700;
     margin:0;
}
 .faq-sec .accordion-button{
    font-size: 22px;
     font-family: var(--ss-font-common);
     font-weight: 700;
     background-color: transparent;
     box-shadow: none;
     color: var(--ss-black-color);
}
 .faq-sec .accordion-button::after{
    width: 55px;
     height: 55px;
     border-radius: 100px;
     background-color: var(--ss-white-color);
     box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.08);
     padding: 15px;
     background-size: 30px;
     background-position: center;
}
 .faq-sec .accordion-button[aria-expanded="true"]:after{
     background-color: var(--ss-black-color);
}
 .footer-sec{
     padding: 50px 0;
     width: 100%;
     background-color: var(--ss-footer-bg);
}
 .footer-logo{
    padding-bottom: 30px;
}
 .footer-logo p{
    font-size: 16px;
     margin-bottom: 20px;
}
 .social-footer {
    display: flex;
     align-items: center;
}
 .social-footer a{
    width: 45px;
     margin-right: 10px;
}
 .address-bx{
    padding:15px 0;
     padding-left: 30px;
     border-left: 1px solid rgba(0, 0, 0, 0.30);
}
 .address-bx h3{
    font-size: 20px;
     margin:15px 0;
}
 .address-bx address{
    font-size: 16px;
}
 .address-bx p{
    display: flex;
     flex-direction: column;
     position: relative;
     font-size: 16px;
     padding-left: 35px;
}
 .address-bx p i{
    position: absolute;
     left: 0;
     top: 0;
}
 .footer-nav h3{
    font-size: 20px;
     margin:15px 0;
}
 .footer-nav ul li{
    font-size: 16px;
     margin:10px 0;
}
 .footer-nav ul li a{
    position: relative;
     padding-left: 25px;
}
 .footer-nav ul li a:after{
    position: absolute;
     left: 0;
     top: 10px;
     width: 7px;
     height: 1px;
     background-color: rgba(0, 0, 0, 0.30);
     content: '';
    ;
}
 .footer-nav ul li a:hover{
    text-decoration: underline;
}
